body {
    font-family: 'Montserrat', sans-serif;
}

.topmenu {
    width: 100%;
    margin-top: -10px;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    padding: 15px 0px;
    background-color: white;
}

.topmenu > div {
    width: 10%;
    margin: auto;
}

.topmenu > div:nth-child(3) {
    width: 60px;
    margin-left: 0px;
    padding-left: 0px;
}

.imgkfc {
    width: 100%;
    height: 25px;
}

.menuname {
    text-align: center;
}

.imgsignin {
    margin-left: 82%;
}

.span {
    border-left: 0.3px solid black;
    margin-left: 8px;
}

#divseven {
    width: 60px;
}

.kfcbox {
    height: 40px;
}

.div8 {
    display: flex;
}

.ripe {
    margin-top: 10px;
    margin-right: 8px;
    font-weight: bold;
}

#container {
    width: 90%;
    padding: 10px;
    margin: auto;
}

.leftmenu {
    width: 30%;
    scroll-behavior: none;
    position: fixed;
    margin-top: 100px;
}

.iconimg {
    margin-left: 45px;
}

ul li {
    list-style-type: none;
    padding: 10px 0px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #494949;
}

.kfcmenu > li {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: Bold 700;
    font-size: 33px;
    line-height: 43px;
    color: #212529;
    font-weight: bolder;
}

.matchday {
    font-size: 18px;
    line-height: 24px;
    color: black;
    font-weight: 900;
    font-weight: bold;
}

.rightside {
    margin-left: 30%;
    margin-top: 5%;
}

#form {
    padding: 20px 0px 20px 20px;
}

#query {
    margin-top: 60px;
    border: 0.1px solid #E5E5E5;
    padding: 10px;
    border-radius: 25px;
    width: 240px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

hr {
    border: 1px solid black;
}

#alignhere {
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    justify-content: space-between;
    background-color: #F8F7F5;
    border-radius: 3px;
}

.kfcimage {
    border-radius: 3px;
}

#para1 {
    background-color: #F8F7F5;
    margin-bottom: 0px !important;
    margin-top: 40px;
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    border-radius: 3px;
}

#alignhere2 {
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: space-between;
    background-color: white;
    border-radius: 3px;
}

#para2 {
    background-color: white;
    margin-bottom: 0px !important;
    margin-top: 40px;
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    border-radius: 3px;
}

#alignhere3 {
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: space-between;
    background-color: white;
    border-radius: 3px;
}

#para3, #para4, #para5, #para6, #para7, #para8 {
    background-color: white;
    margin-bottom: 0px !important;
    margin-top: 40px;
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    border-radius: 3px;
}

#alignhere4, #alignhere5, #alignhere6, #alignhere7, #alignhere8 {
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: space-between;
    background-color: white;
    border-radius: 3px;
}

.tocart {
    padding: 0px 10px;
}
