<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLCuaHangKFCConnectionString"
            connectionString="Data Source=LAPTOP-EDMBMPP4\SQLEXPRESS;Initial Catalog=QLCuaHangKFC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>