<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLCuaHangKFCConnectionString"
            connectionString="Data Source=DESKTOP-1HLJNV7;Initial Catalog=QLCuaHangKFC;Persist Security Info=True;User ID=sa;Password=***********;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLCuaHangKFCConnectionString1"
            connectionString="Data Source=DESKTOP-1HLJNV7;Initial Catalog=QLCuaHangKFC;Persist Security Info=True;User ID=sa;Password=sa;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>