<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://t3.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://online.kfc.co.in/&size=16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/CautionNotice.css">
    <title>About Kfc Caution Notice</title>
</head>
<body>
    <header>
        <div class="topmenu">
            <div></div>
            <div>
                <a href="index.html"><img class="imgkfc" src="https://online.kfc.co.in/static/media/kfcLogo.492728c6.svg" alt=""></a>
            </div>
            <div class="div3"><h4 class="menuname"><a class="deals-gls" href="menu.html">Menu</a></h4></div>
            <div><h4><a class="deals-gls" href="deals.html">Deals</a></h4></div>
            <div></div>
            <div></div>
            <div></div>

            <div><img class="imgsignin" src="https://images.ctfassets.net/wtodlh47qxpt/6bJdGLRkksNvWP4LI9ZiFF/cb89d6393492fd093e0f99980abfa39e/Account_Icon.svg" alt=""></div>
            <div id="divseven"><h4 class="signin"><a class="deals-gls" href="sign.html">Sign in</a><span class="span"></span></h4></div>
            <div class="div8"><div class="ripe">₹0</div><img class="kfcbox" src="https://images.ctfassets.net/wtodlh47qxpt/6qtBVFuno7pdwOQ9RIvYm9/d13e9b7242980972cf49beddde2cc295/bucket_cart_icon.svg" alt=""></div>
        </div>
    </header>
    <div id="cautionContainer">
        <h5>PUBLIC CAUTION NOTICE - FRAUDULENT FRANCHISE OFFERS</h5>
        <p>
            THE KFC NAME, LOGOS, AND RELATED MARKS ARE TRADEMARKS OF KFC, INC. Please beware
            of the fake websites misusing the KFC brand-name to defraud and offer KFC franchise.
            KFC INC, or Yum Restaurants (India) Private Limited or its affiliates do NOT offer its
            franchisee to general public at large in this manner.
        </p>
        <p>
            It has come to our notice that some fraudulent and unscrupulous agencies/individuals are
            fraudulently offering false business/franchise opportunities of KFC, and have further floated
            fraudulent websites for example, www.kfcfranchisechayan.in or www.kfcpartner.com or
            www.yumbrandsfranchise.com (indicative list), etc., or several other unauthorized websites which
            fraudulently misuse the KFC name, address, logo or trademarks, and unauthorized emails
            IDs for example info@kfcfranchisechayan.in; or franchise@kfcpartner.com, or help@yumbrandsfranchise.com,
            (indicative list) etc., or multiple other unauthorized email IDs by misusing the name, logo, trademarks and
            address of KFC.
            These bogus agencies/persons are cheating people at large by falsely offering franchise opportunities
            with KFC India through the
            aforesaid websites, telephonic calls or emails and collecting money
            from people under the false pretext of offering franchise opportunities.
        </p>
        <p>
            We hereby highly caution the general public at large that the aforementioned website or any
            such other website as well as above email IDs or such other email IDs (except our official
            website) are strictly unauthorized and are fraudulent websites/email IDs. We do not have any
            such fraudulent websites, email IDs or phone numbers. General public is hereby advised not to fall
            prey to such fraudulent activities or solicitation through such websites or through emails/phone
            calls from unknown person. Yum Restaurants (India) Private Limited or its affiliates are neither
            directly nor through any agency/person on their behalf offering franchise opportunities to the public
            in this manner. If you are approached by such fraudsters offering a KFC franchise opportunity, then
            please report to us at grievanceofficer@kfcindia.co.in.
        </p>
        <p>
            Yum Restaurants (India) Private Limited or its affiliates bear NO responsibility whatsoever of
            any kind for any amount paid to any fraudulent individual or organizations falsely purporting
            to be representatives of KFC or Yum! Brands.
        </p>
    </div>
    <!-- top menu completed must for every page  -->
    <!-- paste you Deals page html here -->

    <div class="faq">
        <div class="faq-text"></div>

    </div>


    <!-- footer starts form here  -->
    <footer>
        <div class="footer">
            <div class="kfc-logo">
                <a href="index.html"><img src="https://images.ctfassets.net/wtodlh47qxpt/25FSYFuEtGct8NSrtpKe6d/b602f6fe0bf294e6a6dff5d7648bf594/KFC_Logo.svg" alt="kfc-footer-img"></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>KFC Food</h4>
                        <ul>
                            <li><a href="menu.html">Menu</a></li>
                            <li><a href="#">Order Lookup</a></li>
                            <li><a href="giftcard.html">Gift Card</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="help.html">Get Help</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">KFC Feedback</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="cautionNotice.html">Caution Notice</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>KFC India</h4>
                        <ul>
                            <li><a href="aboutkfc.html">About KFC</a></li>
                            <li><a href="#">KFC care</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Our Golden Past</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <!-- <span><i class="fa-solid fa-location-dot"></i>KFC</span> -->
                        <ul id="underline">
                            <li><a href="#"><i class="fa-solid fa-location-dot"></i>Find a KFC</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="playstore">
                <a href="https://play.google.com/store/apps/details?id=com.yum.kfc" target="_blank"><img src="https://images.ctfassets.net/wtodlh47qxpt/6BdZsyjLn64c06uCIE73d1/fb530f5d5231533b049463f6c7e8a2b1/google_play.svg" alt="playstore"></a>
            </div>
            <div class="appstore">
                <a href="https://apps.apple.com/in/app/kfc-india/id915824379" target="_blank"> <img src="https://images.ctfassets.net/wtodlh47qxpt/em3mcMuAdXWlgucSJiTbS/d3ae7e51ed101d829e459355e255c47f/apple.svg" alt="appstore"></a>
            </div>
        </div>
        <div class="foot-col-sol">
            <div class="copyright">
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/kfcindia_official/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/KFCIndia" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/KFC_India" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

</body>
