<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://t3.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://online.kfc.co.in/&size=16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/Disclaimer.css">
    <title>About Kfc Disclaimer</title>
</head>
<body>
    <header>
        <div class="topmenu">
            <div></div>
            <div>
                <a href="index.html"><img class="imgkfc" src="https://online.kfc.co.in/static/media/kfcLogo.492728c6.svg" alt=""></a>
            </div>
            <div class="div3"><h4 class="menuname"><a class="deals-gls" href="menu.html">Menu</a></h4></div>
            <div><h4><a class="deals-gls" href="deals.html">Deals</a></h4></div>
            <div></div>
            <div></div>
            <div></div>

            <div><img class="imgsignin" src="https://images.ctfassets.net/wtodlh47qxpt/6bJdGLRkksNvWP4LI9ZiFF/cb89d6393492fd093e0f99980abfa39e/Account_Icon.svg" alt=""></div>
            <div id="divseven"><h4 class="signin"><a class="deals-gls" href="sign.html">Sign in</a><span class="span"></span></h4></div>
            <div class="div8"><div class="ripe">₹0</div><img class="kfcbox" src="https://images.ctfassets.net/wtodlh47qxpt/6qtBVFuno7pdwOQ9RIvYm9/d13e9b7242980972cf49beddde2cc295/bucket_cart_icon.svg" alt=""></div>
        </div>
    </header>
    <div class="mid">
        <!-- <h4 id="topbar">LET'S ORDER FOR DELIVERY, PICK UP, OR DINE-IN<span><button id="button"><a href="#" style="color : white">start order</a></button></span> </h4> -->
    </div>
    <!-- top menu completed must for every page  -->
    <!-- paste you Deals page html here -->

    <div class="dis-container">
        <div class="dis-heading">
            <h1>DISCLAIMER</h1>
        </div>
        <div class="dis-para">
            <p class="kfc-para">KFC India strives to ensure that the information contained in this Site is accurate and reliable. However, KFC India and the World Wide Web (or Website host) are not infallible and errors may sometimes occur. Therefore, to the fullest extent permissible pursuant to applicable law, We disclaim any warranty of any kind, whether express or implied, as to any matter whatsoever relating to this Site, including without limitation the merchantability or fitness for any particular purpose. We are not liable or responsible for any damages or injuries caused by use of this Site (such as viruses, omissions or misstatements). We may revise the information, services and the resources contained in this Site from time to time and we reserve the right to make such changes without obligation to notify past, current or prospective visitors. In no event shall We be liable for any indirect, special, incidental, or consequential damages arising out of any use of the information contained herein.</p>
            <p class="further-para">Further, all products and services delivered to you through KFC Home Delivery are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement. In no case shall we, our franchisee/s, affiliate/s, shareholders, directors, officers, employees, agents, contractors, interns, vendors, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured via KFC Home Delivery, or for any other claim related in any way to your use, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the any content (or product) posted, transmitted, or otherwise made available via KFC Home Delivery, even if advised of their possibility</p>
            <p class="those-para">
                Those who choose to access this site from locations other than India do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable. Any rights not expressly granted herein are reserved.
            </p>
            <p class="thekfc-para">
                THE KFC NAME, LOGOS, AND RELATED MARKS ARE TRADEMARKS OF KFC, INC. Please beware of the fake websites misusing the KFC brand-name to defraud and offer KFC franchise.
            </p>
            <a class="anchor-para" href="#">ALL CHICKEN PRODUCTS CONTAIN MONOSODIUM GLUTAMATE. NOT RECOMMENDED FOR INFANTS BELOW 12 MONTHS AND PREGNANT WOMEN.</a>
        </div>
    </div>

    <!-- footer starts form here  -->
    <footer>
        <div class="footer">
            <div class="kfc-logo">
                <img src="https://images.ctfassets.net/wtodlh47qxpt/25FSYFuEtGct8NSrtpKe6d/b602f6fe0bf294e6a6dff5d7648bf594/KFC_Logo.svg" alt="kfc-footer-img">
            </div>
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>KFC Food</h4>
                        <ul>
                            <li><a href="menu.html">Menu</a></li>
                            <li><a href="#">Order Lookup</a></li>
                            <li><a href="giftcard.html">Gift Card</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="help.html">Get Help</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">KFC Feedback</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="disclaimer.html">Disclaimer</a></li>
                            <li><a href="cautionNotice.html">Caution Notice</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>KFC India</h4>
                        <ul>
                            <li><a href="aboutkfc.html">About KFC</a></li>
                            <li><a href="#">KFC care</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="#">Our Golden Past</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <!-- <span><i class="fa-solid fa-location-dot"></i>KFC</span> -->
                        <ul id="underline">
                            <li><a href="#"><i class="fa-solid fa-location-dot"></i>Find a KFC</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="playstore">
                <a href="https://play.google.com/store/apps/details?id=com.yum.kfc" target="_blank"><img src="https://images.ctfassets.net/wtodlh47qxpt/6BdZsyjLn64c06uCIE73d1/fb530f5d5231533b049463f6c7e8a2b1/google_play.svg" alt="playstore"></a>
            </div>
            <div class="appstore">
                <a href="https://apps.apple.com/in/app/kfc-india/id915824379" target="_blank"> <img src="https://images.ctfassets.net/wtodlh47qxpt/em3mcMuAdXWlgucSJiTbS/d3ae7e51ed101d829e459355e255c47f/apple.svg" alt="appstore"></a>
            </div>
        </div>
        <div class="foot-col-sol">
            <div class="copyright">
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/kfcindia_official/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/KFCIndia" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/KFC_India" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

</body>
