<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://t3.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://online.kfc.co.in/&size=16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/GifCard.css">
    <title>KFC Gift Card</title>
</head>
<body>
    <header>
        <div class="topmenu">
            <div></div>
            <div>
                <a href="index.html"><img class="imgkfc" src="https://online.kfc.co.in/static/media/kfcLogo.492728c6.svg" alt=""></a>
            </div>
            <div class="div3"><h4 class="menuname"><a class="deals-gls" href="menu.html">Menu</a></h4></div>
            <div><h4><a class="deals-gls" href="deals.html">Deals</a></h4></div>
            <div></div>
            <div></div>
            <div></div>

            <div><img class="imgsignin" src="https://images.ctfassets.net/wtodlh47qxpt/6bJdGLRkksNvWP4LI9ZiFF/cb89d6393492fd093e0f99980abfa39e/Account_Icon.svg" alt=""></div>
            <div id="divseven"><h4 class="signin">Sign in <span class="span"></span></h4></div>
            <div class="div8"><div class="ripe">₹0</div><img class="kfcbox" src="https://images.ctfassets.net/wtodlh47qxpt/6qtBVFuno7pdwOQ9RIvYm9/d13e9b7242980972cf49beddde2cc295/bucket_cart_icon.svg" alt=""></div>
        </div>
    </header>
    <div class="mid">
        <h4 id="topbar">LET'S ORDER FOR DELIVERY, PICK UP, OR DINE-IN<span><button id="button"><a href="#" style="color : white">start order</a></button></span> </h4>
    </div>
    <!-- top menu completed must for every page  -->


    <div class="container-box">
        <div class="kfc-giftcard">
            <p>KFC GIFT CARD</p>
        </div>
        <div class="check-button">
            <button>Check Balance</button>
        </div>
    </div>

    <div class="buy-kfc-gift-card">
        <div class="buy-card">
            <p>BUY A KFC GIFT CARD</p>
        </div>
        <span class="kfc-line"></span>
        <div class="kfc-giftcard-img">
            <img src="https://images.ctfassets.net/wtodlh47qxpt/U5m8vUqwjV342206BUH0z/09eccd01ddac7b1941faa60c7ea24381/Gift_Card_Web.svg" alt="giftcardimg">
        </div>

        <div class="terms-condit">
            <p class="terms">Terms & Conditions</p>
            <div class="conditions">
                <p>
                    KFC Gift Card and Gift Voucher is issued by YUM! Restaurants India Pvt. Ltd. “YUM!” & its authorized franchisee for making
                    payments at selective and participating KFC Restaurants in India. KFC Gift Voucher (purchased from KFC website) is valid for 6 months from the date of
                    its issuance, with one-time usage only. KFC Gift Card (Physical card) is valid for 6 months from the date of its issuance,
                    with multiple swipe options. Any balance amount in Gift Card and Gift Voucher, after validity period, cannot be exchanged for cash. KFC
                    gift card and gift vouchers are not transferable. This gift card is not redeemable on KFC website, KFC Airport outlets and select outlets.
                    No cash refunds will be given against the card incl. in case of loss or otherwise. Rights to amend terms & conditions reserved with Yum! without
                    any prior notice. For all amendments, card balance & expiry details, please visit online.kfc.co.in. By accepting & using this card, the user
                    unconditionally accepts all T&C and shall not raise any disputes against YUM! & it’s authorized franchisees in this regard. Card and Voucher usage
                    subject to Force Majeure conditions. All disputes subject to exclusive jurisdiction of courts at New Delhi.
                </p>
            </div>
        </div>
    </div>


    <!-- footer starts form here  -->
    <footer>
        <div class="footer">
            <div class="kfc-logo">
                <a href="index.html"><img src="https://images.ctfassets.net/wtodlh47qxpt/25FSYFuEtGct8NSrtpKe6d/b602f6fe0bf294e6a6dff5d7648bf594/KFC_Logo.svg" alt="kfc-footer-img"></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>KFC Food</h4>
                        <ul>
                            <li><a href="menu.html">Menu</a></li>
                            <li><a href="#">Order Lookup</a></li>
                            <li><a href="giftcard.html">Gift Card</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="help.html">Get Help</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">KFC Feedback</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="disclaimer.html">Disclaimer</a></li>
                            <li><a href="cautionNotice.html">Caution Notice</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>KFC India</h4>
                        <ul>
                            <li><a href="aboutkfc.html">About KFC</a></li>
                            <li><a href="#">KFC care</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="#">Our Golden Past</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Find a KFC<i class="fa-solid fa-location-dot"></i></h4>
                    </div>
                </div>
            </div>
            <div class="playstore">
                <a href="https://play.google.com/store/apps/details?id=com.yum.kfc" target="_blank"><img src="https://images.ctfassets.net/wtodlh47qxpt/6BdZsyjLn64c06uCIE73d1/fb530f5d5231533b049463f6c7e8a2b1/google_play.svg" alt="playstore"></a>
            </div>
            <div class="appstore">
                <a href="https://apps.apple.com/in/app/kfc-india/id915824379" target="_blank"> <img src="https://images.ctfassets.net/wtodlh47qxpt/em3mcMuAdXWlgucSJiTbS/d3ae7e51ed101d829e459355e255c47f/apple.svg" alt="appstore"></a>
            </div>
        </div>
        <div class="foot-col-sol">
            <div class="copyright">
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

</body>
